.header {
    padding: 20px;
    background-color: rgb(3, 8, 95);
    box-shadow: 0 10px 10px  #ebb5b5;
    margin-bottom: 20px;

    .container {
        justify-content: space-between;
        display: flex;
    }
    img {
        width: 180px;
        border-radius: 10px;
    }

    &__links {
        display: flex;
        align-items: center;
        list-style: none;

        &__item {
            a {
                font-size: 20px;
                font-weight: bold;
                margin-left: 16PX;
                :hover {
                    border: 1px solid yellow;
                    font-size: 25px;
                }
                color: #FFF;
            }
            
        }
    }
    
    &__button {
        text-decoration: none;
        margin-right: 16px;
        
    }
}