@use 'header';
@use 'sobre';
@use 'resumo';
@use 'trailer';
@use 'footer';

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    box-sizing: border-box;
    font-family: roboto, sana-serif;
    color: #fff;
    overflow-x: hidden;

    
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.titulo {
    text-shadow: 0 0 20px #ee0d0df4;
    //font-family: 'Dancing Script', cursive;
    font-size: 40px;
    background: -webkit-linear-gradient(hsl(68, 97%, 46%), #eef2f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 1px solid #878156;
    padding: 16px;
    text-align: left;
}

section {
  padding: 60px 20px 80px 20px;
  width: 100%;
    
}

p{
    padding: 0 20px;
}

.img-grande {
    float: left;
    margin: 0px 16px 6px 0;
    max-width: 40%;
    height: auto;
    padding-left: 20px;
}