@use 'header';
@use 'sobre';
@use 'resumo';
@use 'trailer';
@use 'footer';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sana-serif;
    color: #fff;
    
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.titulo {
    text-shadow: 0 0 20px #ee0d0df4;
    //font-family: 'Dancing Script', cursive;
    font-size: 40px;
    background: -webkit-linear-gradient(hsl(68, 97%, 46%), #eef2f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 1px solid #878156;
    padding: 16px;
    text-align: left;
}

.conatiners {
    padding: 80px 0 80px;
}
