.resumo {
    //padding: 80px;
    //background: rgb(115, 46, 199);
    background: linear-gradient(167deg, rgb(128, 132, 246) 0%, rgba(36, 28, 28, 0.712) 63%, rgb(72, 69, 252) 100%);

    &__resumo {
        font-size: 20px;
        text-align: justify;
        line-height: 24px;
        font-style: italic;
        padding: 20px;
    }

    a {
        color: aliceblue;
    }
}