.sobre {
    background-color: brown;
    .container {
        align-items: center;
    }

    &__paragrafo {
        font-size: 18px;
        text-align: justify;
        line-height: 24px;
        font-style: italic;
       
    }
    
    &__titulo-filme{
        font-family: Dancing Script, cursive;
        font-weight: bold;
    }

    a {
        color: aliceblue;

    }

  
}
